<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Cars</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Make</th>
        <th>Model</th>
        <th>VIN number</th>
        <th>Fuel type</th>
        <th>Mileage</th>

    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.vin}"></td>
        <td th:text="${car.fuelType}"></td>
        <td th:text="${car.mileage}"></td>
<!--        <td><a th:href="@{http://localhost:8080/for-admin/update/${car.id}">Update</a>-->
<!--            <a th:href="@{http://localhost:8080/for-admin/delete/${car.id}">Delete</a></td>-->

    </tr>
</table>

</body>
</html>