<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>List Cars</title>
  </head>
  <body>
    <table>
      <tr>
          <th>Id</th>
          <th>Make</th>
          <th>Model</th>
          <th>VIN number</th>
          <th>Fuel type</th>
          <th>Mileage</th>
          <th>Availability</th>

      </tr>
      <tr th:each="car : ${cars}">
          <td th:text="${car.id}"></td>
          <td th:text="${car.make}"></td>
          <td th:text="${car.model}"></td>
          <td th:text="${car.vin}"></td>
          <td th:text="${car.fuelType}"></td>
          <td th:text="${car.mileage}"></td>
          <td th:text="${car.availability}"></td>
          <td><a th:href="@{/for-admin/update(id=${car.id})}">Update</a>
<!--        <a th:href="@{/(id=${userId})}"> User [[${userId}]]</a>-->
            <a th:href="@{/for-admin/delete(id=${car.id})}">Delete</a></td>

      </tr>
    </table>
    <div>
       <a th:href="@{/for-admin}">Main Panel</a>
    </div>

  </body>
</html>